.left-pane {
	-fx-background-color: #87CEEB;
}

.right-pane {
	-fx-background-color: #c1c1c1;
	-fx-font-size: 12pt;
}

.center-pane {
	-fx-background-color: #c1c1c1;
	-fx-font-size: 12pt;
}

.top-pane {
	-fx-background-color: linear-gradient(#FFFFFF, #87CEEB);
}

.left-accordion {
	-fx-background-color: transparent ;
}

.button_1 {
	-fx-background-color: transparent;
	-fx-font-size: 12pt;
}

.button_1:focused {
	-fx-background-color: #ffffff;
}

.button_1:hover {
	-fx-background-color: #fffff0;
}

.button_2 {
	-fx-background-color: #ffffff ;
	-fx-font-size: 12pt;
}

.button_2:focused {
	-fx-background-color: #ffffff;
}

.button_2:hover {
	-fx-background-color: #fffff0;
}


/** --------- LEFT TITLED PANE -------------- */


.left-titled-pane1 > .title 
{
  	-fx-background-color: transparent;
	-fx-font-size: 12pt;
	-fx-padding: 0.333333em 0.666667em 0.333333em 0em;
}


.left-titled-pane1 > .title > .arrow-button 
{
	-fx-background-color: transparent;
}

.left-titled-pane1 > .title > .arrow-button .arrow 
{
	-fx-background-color: transparent;
	-fx-padding: 0em 0em 0em 0em;
}

.left-titled-pane1:focused > .title 
{
  	-fx-background-color: #ffffff;
}

.left-titled-pane1:hover > .title 
{
  	-fx-background-color: #fffff0;
}

.left-titled-pane1:focused > .title > .arrow-button .arrow 
{
	-fx-background-color: transparent;
}

.left-titled-pane2 > .title 
{
  	-fx-background-color: #ffffff;
	-fx-font-size: 12pt;
	-fx-padding: 0.333333em 0.666667em 0.333333em 0em;
}


.left-titled-pane2 > .title > .arrow-button 
{
	-fx-background-color: transparent;
}

.left-titled-pane2 > .title > .arrow-button .arrow 
{
	-fx-background-color: transparent;
	-fx-padding: 0em 0em 0em 0em;
}

.left-titled-pane2:focused > .title 
{
  	-fx-background-color: #ffffff;
}

.left-titled-pane2:hover > .title 
{
  	-fx-background-color: #fffff0;
}

.left-titled-pane2:focused > .title > .arrow-button .arrow 
{
	-fx-background-color: transparent;
}

/** --------- END OF LEFT TITLED PANE -------- */


