.root {
	-fx-background-color: #FFFFFF;
}

.left-pane {
	-fx-background-color: linear-gradient(from 50% 100% to 25% 25%, #e7fbfd, #87CEEB);
}

.top-pane {
	-fx-background-color: linear-gradient(from 100% 100% to 30% 50%, #e7fbfd, #87CEEB);
}

.button-top {
	-fx-background-color: transparent;
	-fx-font-size: 11pt;	
}
.button-top:hover {
	-fx-font-size: 13pt;
	-fx-background-color: transparent;	
}

#pacient-info {
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-padding: 10pt;
	-fx-spacing: 10pt;
	-fx-font-size: 8pt;
}

.button_1 {
	-fx-background-color: transparent;
	-fx-font-size: 12pt;
}

.button_1:focused {
	-fx-background-color: #ffffff;
}

.button_1:hover {
	-fx-background-color: #fffff0;
}

.button_2 {
	-fx-background-color: #ffffff ;
	-fx-font-size: 12pt;
	
}

.button_2:focused {
	-fx-background-color: #ffffff;
}

.button_2:hover {
	-fx-background-color: #fffff0;
}

.left-titled-pane1 > .title {
  	-fx-background-color: transparent;
	-fx-padding: 0.333333em 0.666667em 0.333333em 0em;
	-fx-font-size: 12pt;
}

.left-titled-pane1 > .title > .arrow-button {
	-fx-background-color: transparent;
}

.left-titled-pane1 > .title > .arrow-button .arrow {
	-fx-background-color: transparent;
	-fx-padding: 0em 0em 0em 0em;
}

.left-titled-pane1:focused > .title {
  	-fx-background-color: #ffffff;
}

.left-titled-pane1:hover > .title {
  	-fx-background-color: #fffff0;
}

.left-titled-pane2 > .title 
{
  	-fx-background-color: #ffffff;
	-fx-padding: 0.333333em 0.666667em 0.333333em 0em;
	-fx-font-size: 12pt;	
}

.left-titled-pane2 > .title > .arrow-button 
{
	-fx-background-color: transparent;
}

.left-titled-pane2 > .title > .arrow-button .arrow 
{
	-fx-background-color: transparent;
	-fx-padding: 0em 0em 0em 0em;
}

.left-titled-pane2:focused > .title 
{
  	-fx-background-color: #ffffff;
}

.left-titled-pane2:hover > .title 
{
  	-fx-background-color: #fffff0;
}

.left-titled-pane2:focused > .title > .arrow-button .arrow 
{
	-fx-background-color: transparent;
}



.center-pane {
	-fx-background-color: #c1c1c1;
}
